.catalog {
    @include flex(flex-start, flex-start);

    @include tablet {
        flex-direction: column;
    }

    &__filter {
        width: 20%;

        @include tablet {
            width: max-content;
            height: 100vh;
            background-color: $main-bg;
            padding: 1rem;
            position: fixed;
            left: 0;
            top: $header-tablet-height;
            z-index: 100;
            box-shadow: $box-shadow;
            transform: translateX(-100%);
            transition: transform 0.3s ease;
        }

        @include mobile {
            top: $header-mobile-height;
        }

        &.active {
            transform: translateX(0);
        }

        &__widget {
            margin-bottom: 2rem;

            &__title {
                font-size: 1.25rem;
                font-weight: 600;
                text-transform: capitalize;
                margin-bottom: 16px;
            }

            &__content {
                color: $txt-second-color;

                &__item {
                    margin-bottom: 13px;
                }
            }
        }

        &__close {
            display: none;
            @include tablet {
                display: block;
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }
    }

    &__content {
        flex-grow: 1;

        @include tablet {
            width: 100%;
        }
    }

    &__filter__toggle {
        display: none;

        @include tablet {
            display: block;
            margin-bottom: 2rem;
        }
    }
}

.category {
    display: flex;
    padding: 20px;
    column-gap: 30px;

    .sirebar {
        width: 270px;
    }
    .ProductsList {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 30px;
    }
}


.Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
    .Pagination__page-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        width: 30px;
        height: 30px;

        &.Pagination__active {
            background-color: #ccc;
        }
    }
}

.btn-secondary.add-to-cart {
    margin-top: 15px;
}

.Product-Qty {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
        min-width: 203px;
        border: 1px solid #000;
    }
}

.change-qty {
    background-color: #f0f0f0;
    width: 51px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;

}